<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:uap3="http://schemas.microsoft.com/appx/manifest/uap/windows10/3"
  xmlns:desktop="http://schemas.microsoft.com/appx/manifest/desktop/windows10"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  IgnorableNamespaces="uap uap3 mp desktop rescap">

  <Identity
    Name="onehoon.QuickButtonsforGameBar"
    Publisher="CN=1F7B64F8-727D-460F-BC6B-347DD604F69F"
    Version="1.1.2.0" />

  <mp:PhoneIdentity PhoneProductId="4fac8839-76bf-47c8-be7c-57c4109e639e" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

  <Properties>
    <DisplayName>Quick Buttons for Game Bar</DisplayName>
    <PublisherDisplayName>onehoon</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.17763.0" MaxVersionTested="10.0.26100.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="Quick_Buttons_for_Game_Bar.App">
      <uap:VisualElements
        DisplayName="Quick Buttons for Game Bar"
        Square150x150Logo="Assets\Square150x150Logo.png"
        Square44x44Logo="Assets\Square44x44Logo.png"
        Description="Quick Buttons for Game Bar"
        BackgroundColor="transparent"
        AppListEntry="none">
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png"/>
        <uap:SplashScreen Image="Assets\SplashScreen.png" />
      </uap:VisualElements>
      <Extensions>
        <uap3:Extension Category="windows.appExtension">
          <uap3:AppExtension
            Name="microsoft.gameBarUIExtension"
            Id="GamingWidget"
            DisplayName="Quick Buttons for Game Bar"
            Description="Touch-friendly shortcut buttons for UMPCs and handheld Windows PCs."
            PublicFolder="GameBar">
            <uap3:Properties>
              <GameBarWidget Type="Standard">
                <HomeMenuVisible>true</HomeMenuVisible>
                <PinningSupported>true</PinningSupported>
                <ActivateAfterInstall>false</ActivateAfterInstall>
                <FavoriteAfterInstall>false</FavoriteAfterInstall>
                <SettingsSupported AppExtensionId="GamingWidgetSettings" />
                <Window>
                  <Size>
                    <Height>450</Height>
                    <Width>464</Width>
                    <MinHeight>413</MinHeight>
                    <MinWidth>464</MinWidth>
                    <MaxHeight>525</MaxHeight>
                    <MaxWidth>464</MaxWidth>
                  </Size>
                  <ResizeSupported>
                    <Horizontal>false</Horizontal>
                    <Vertical>true</Vertical>
                  </ResizeSupported>
                </Window>
              </GameBarWidget>
            </uap3:Properties>
          </uap3:AppExtension>
        </uap3:Extension>
        <uap3:Extension Category="windows.appExtension">
          <uap3:AppExtension
            Name="microsoft.gameBarUIExtension"
            Id="GamingWidgetSettings"
            DisplayName="Quick Buttons Settings"
            Description="Settings for Quick Buttons for Game Bar."
            PublicFolder="GameBar">
            <uap3:Properties>
              <GameBarWidget Type="Settings">
                <Window>
                  <Size>
                    <Height>520</Height>
                    <Width>464</Width>
                    <MinHeight>420</MinHeight>
                    <MinWidth>464</MinWidth>
                    <MaxHeight>700</MaxHeight>
                    <MaxWidth>464</MaxWidth>
                  </Size>
                  <ResizeSupported>
                    <Horizontal>false</Horizontal>
                    <Vertical>true</Vertical>
                  </ResizeSupported>
                </Window>
              </GameBarWidget>
            </uap3:Properties>
          </uap3:AppExtension>
        </uap3:Extension>
        <desktop:Extension Category="windows.fullTrustProcess" Executable="ShortcutHelper\ShortcutHelper.exe">
          <desktop:FullTrustProcess>
            <desktop:ParameterGroup GroupId="InsertCommand" Parameters="insert" />
            <desktop:ParameterGroup GroupId="Custom1Command" Parameters="custom1" />
            <desktop:ParameterGroup GroupId="Custom2Command" Parameters="custom2" />
            <desktop:ParameterGroup GroupId="Custom3Command" Parameters="custom3" />
            <desktop:ParameterGroup GroupId="Custom4Command" Parameters="custom4" />
            <desktop:ParameterGroup GroupId="LosslessScalingCommand" Parameters="losslessscaling" />
            <desktop:ParameterGroup GroupId="DetectResolutionPresetsCommand" Parameters="detect-resolution-presets" />
            <desktop:ParameterGroup GroupId="SetResolution1920x1200Command" Parameters="set-resolution-1920-1200" />
            <desktop:ParameterGroup GroupId="SetResolution1920x1080Command" Parameters="set-resolution-1920-1080" />
            <desktop:ParameterGroup GroupId="SetResolution1680x1050Command" Parameters="set-resolution-1680-1050" />
            <desktop:ParameterGroup GroupId="SetResolution1600x900Command" Parameters="set-resolution-1600-900" />
            <desktop:ParameterGroup GroupId="SetResolution1440x900Command" Parameters="set-resolution-1440-900" />
            <desktop:ParameterGroup GroupId="SetResolution1280x720Command" Parameters="set-resolution-1280-720" />
          </desktop:FullTrustProcess>
        </desktop:Extension>
      </Extensions>
    </Application>
  </Applications>

  <Extensions>
    <Extension Category="windows.activatableClass.proxyStub">
      <ProxyStub ClassId="00000355-0000-0000-C000-000000000046">
        <Path>Microsoft.Gaming.XboxGameBar.winmd</Path>
        <Interface Name="Microsoft.Gaming.XboxGameBar.Private.IXboxGameBarAppTargetHost" InterfaceId="38CDC43C-0A0E-4B3B-BBD3-A581AE220D53" />
        <Interface Name="Microsoft.Gaming.XboxGameBar.Private.IXboxGameBarAppTargetInfo" InterfaceId="D7689E93-5587-47D1-A42E-78D16B2FA807" />
        <Interface Name="Microsoft.Gaming.XboxGameBar.Private.IXboxGameBarAppTargetInfo2" InterfaceId="68930F3C-2FDF-44D3-A052-A417EA54CD98" />
        <Interface Name="Microsoft.Gaming.XboxGameBar.Private.IXboxGameBarActivityHost" InterfaceId="2B113C9B-E370-49B2-A20B-83E0F5737577" />
        <Interface Name="Microsoft.Gaming.XboxGameBar.Private.IXboxGameBarHotkeyManagerHost" InterfaceId="F6225A53-B34C-4833-9511-AA377B43316F" />
        <Interface Name="Microsoft.Gaming.XboxGameBar.Private.IXboxGameBarWidgetAuthHost" InterfaceId="DC263529-B12F-469E-BB35-B94069F5B15A" />
        <Interface Name="Microsoft.Gaming.XboxGameBar.Private.IXboxGameBarWidgetControlHost" InterfaceId="C309CAC7-8435-4082-8F37-784523747047" />
        <Interface Name="Microsoft.Gaming.XboxGameBar.Private.IXboxGameBarWidgetForegroundWorkerHost" InterfaceId="DDB52B57-FA83-420C-AFDE-6FA556E18B83" />
        <Interface Name="Microsoft.Gaming.XboxGameBar.Private.IXboxGameBarWidgetForegroundWorkerPrivate" InterfaceId="42BACDFC-BB28-4E71-99B4-24C034C7B7E0" />
        <Interface Name="Microsoft.Gaming.XboxGameBar.Private.IXboxGameBarNavigationKeyCombo" InterfaceId="5EEA3DBF-09BB-42A5-B491-CF561E33C172" />
        <Interface Name="Microsoft.Gaming.XboxGameBar.Private.IXboxGameBarWidgetActivatedEventArgsPrivate" InterfaceId="782535A7-9407-4572-BFCB-316B4086F102" />
        <Interface Name="Microsoft.Gaming.XboxGameBar.Private.IXboxGameBarWidgetHost" InterfaceId="5D12BC93-212B-4B9F-9091-76B73BF56525" />
        <Interface Name="Microsoft.Gaming.XboxGameBar.Private.IXboxGameBarWidgetHost2" InterfaceId="28717C8B-D8E8-47A8-AF47-A1D5263BAE9B" />
        <Interface Name="Microsoft.Gaming.XboxGameBar.Private.IXboxGameBarWidgetHost3" InterfaceId="3F5A3F12-C1E4-4942-B80D-3117BC948E29" />
        <Interface Name="Microsoft.Gaming.XboxGameBar.Private.IXboxGameBarWidgetHost4" InterfaceId="FA696D9E-2501-4B01-B26F-4BB85344740F" />
        <Interface Name="Microsoft.Gaming.XboxGameBar.Private.IXboxGameBarWidgetHost5" InterfaceId="A6C878CC-2B08-4B94-B1C3-222C6A913F3C" />
        <Interface Name="Microsoft.Gaming.XboxGameBar.Private.IXboxGameBarWidgetHost6" InterfaceId="CE6F0D73-C44F-4BBD-9652-A0FC52C37A34" />
        <Interface Name="Microsoft.Gaming.XboxGameBar.Private.IXboxGameBarWidgetHost7" InterfaceId="B7D246E1-F61B-43A2-9120-25D9AC31BB17" />
        <Interface Name="Microsoft.Gaming.XboxGameBar.Private.IXboxGameBarWidgetHost8" InterfaceId="0E4A1F7C-3D5B-4E8C-8F2A-6D9A0B2E5F7C" />
        <Interface Name="Microsoft.Gaming.XboxGameBar.Private.IXboxGameBarWidgetHost9" InterfaceId="BC40A15A-6961-4D04-A9CD-34680A0F5ACD" />
        <Interface Name="Microsoft.Gaming.XboxGameBar.Private.IXboxGameBarWidgetNotificationHost" InterfaceId="3284F0E0-F506-481F-88D3-9DDF6C02B56B" />
        <Interface Name="Microsoft.Gaming.XboxGameBar.Private.IXboxGameBarWidgetNotificationPrivate" InterfaceId="C94C8DC8-C8B5-4560-AF6E-A588B558213A" />
        <Interface Name="Microsoft.Gaming.XboxGameBar.Private.IXboxGameBarWidgetPrivate" InterfaceId="22ABA97F-FB0F-4439-9BDD-2C67B2D5AA8F" />
        <Interface Name="Microsoft.Gaming.XboxGameBar.Private.IXboxGameBarWidgetPrivate2" InterfaceId="B2F7DB8C-7540-48DA-9B46-4E60CE0D9DEB" />
        <Interface Name="Microsoft.Gaming.XboxGameBar.Private.IXboxGameBarWidgetPrivate3" InterfaceId="4FB89FB6-7CB8-489D-8408-2269E6C733A1" />
        <Interface Name="Microsoft.Gaming.XboxGameBar.Private.IXboxGameBarWidgetPrivate4" InterfaceId="5638D65A-3733-48CC-90E5-984688D62786" />
        <Interface Name="Microsoft.Gaming.XboxGameBar.Private.IXboxGameBarWidgetPrivate5" InterfaceId="73B9289B-812C-4FA4-979B-180770DC92B3" />
        <Interface Name="Microsoft.Gaming.XboxGameBar.Private.IXboxGameBarWidgetPrivate6" InterfaceId="687766A8-6A24-4691-ADDC-88AA57582B47" />
        <Interface Name="Microsoft.Gaming.XboxGameBar.Private.IXboxGameBarWidgetRecordingHost" InterfaceId="E85FD1C6-2867-44C3-B00A-AEEBBA76E438" />
        <Interface Name="Microsoft.Gaming.XboxGameBar.Private.IXboxGameBarWidgetRecordingResultSummaryPrivate" InterfaceId="7D701751-288D-4C6C-A466-97FBA0D21111" />
      </ProxyStub>
    </Extension>
  </Extensions>

  <Capabilities>
    <rescap:Capability Name="runFullTrust" />
  </Capabilities>
</Package>




